*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body{
  background: #d1d1d1;
  font-family:sans-serif;
}

header, main, footer{
  width: 94%;
  margin: auto;
}

header{
  box-shadow: 2px 2px 2px #4d4d4d;
  border-radius: 20px;
  margin: 20px auto;
}

header nav{
  background: #00b39c;
  border-radius: 20px;
}

header nav ul{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding-left: 25px;
}

header nav ul li{
  width: 130px;
  text-align: center;
}

header nav ul li a{
  padding: 15px 0px 13px 0px;
  display: block;
  text-decoration: none;
  color: white;
}

header nav ul li a:hover{
  background: #000000;
  transition: 0.5s all ease;
}

main{
  padding: 10px 0px;
}

.a{
  background: url(../images/2.jpg);
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  background-position: cover;
  height: 500px;
  padding: 100px 0px 400px 0px;
}

.a h1{
  font-size: 45px;
  color: white;
  text-align: center;
  background: rgba(2, 32, 191, 0.4);
  border-radius: 20px;
  border: 6px solid rgba(255, 255, 255, 0.47);
  width: 70%;
  margin: auto;
}

.b{
  background: #fff;
  padding: 25px;
}

.b p{
  margin-bottom: 25px;
}

.c{
  background: #00698a;
  color: white;
  padding: 25px;
}

.d{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.d div{
  width: 48%;
  margin-right: 4%;
}

.d div img{
  width: 100%;
}

.d h4{
  width: 48%;
}

.e{
  margin-top: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.e div{
  width: 48%;
  order: 2;
}

.e div img{
  width: 100%;
  height: 300px;
}

.e h4{
  width: 48%;
  order: 1;
}


.f{
  margin-top: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.f div{
  width: 48%;
}

.f div img{
  width: 100%;
  height: 300px;
}

.f h4{
  width: 48%;
}

footer{
  text-align: center;
  background: #00b39c;
  color: white;
  padding: 20px 0px;
  margin-bottom: 25px;
}
